/* src/components/LandingPage.css */
/* src/components/LandingPage.css */
/* src/components/LandingPage.css */
.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 1rem;
}

.description h1 {
  margin: 0;
  font-size: 1.5rem;
}

.description p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.navbar nav .nav-link {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.landing-info {
  padding: 5rem 2rem;
  margin-top: 60px; /* Push content below the navbar */
  text-align: center;
}

.scrollable-content {
  padding: 2rem;
  background-color: #f9f9f9;
  height: 200vh; /* Simulate longer content for scrolling */
}
